body {
    height: 100vh;
}

#piano {
    margin: auto;
    margin-top: 30vh;
    width: 70%;
    max-width: 800px;
    height: 300px;
    background: rgb(46, 46, 46);
    position: relative;
}

#keys {
    width: 90%;
    position: absolute;
    bottom: 5px;
    height: 60%;
    margin: 5%;
}

.whiteKeys {
    width: 7%;
    height: 100%;
    background-color: white;
    position: absolute;
    border: 2px solid black;
    cursor: pointer;
}

.blackKeys {
    width: 3.5%;
    height: 50%;
    background-color: black;
    position: absolute;
    cursor: pointer;
}